:root {
  --color-primary: #0290ff;
  --border-color: #ccc;
  --font-family: sans-serif;
}

.flex {
  display: flex;
}

/* ! HEADER */

header {
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  font-family: var(--font-family);
}

.main-title img {
  width: 70px;
}

.main-title {
  align-items: center;
}

.links {
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.links a:nth-child(2)::after {
  content: '';
  border: 1px solid var(--border-color);
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: var(--color-primary);
}

.content-align {
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  font-family: var(--font-family);
}

.active {
  text-decoration: underline;
  color: var(--color-primary);
}

/* ! MISSIONS */

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* ! ROCKETS */

.rocket-container {
  flex-direction: column;
}

.rocket-card {
  padding: 12px 0;
  gap: 10px;
}

.rocket-content h2 {
  font-size: 1.5rem;
  padding: 5px 0;
}

.rocket-content p {
  font-size: 0.9rem;
  line-height: 25px;
}

.rocket-content p span {
  padding: 4px 7px;
  background-color: rgb(15, 207, 182);
  margin-right: 4px;
  border-radius: 10px;
}

.img-container {
  flex-grow: 1;
}

.img-container img {
  width: 300px;
}

.rocket-content {
  flex-grow: 2;
}

.not-reserved {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 5px;
  color: #fff;
}

.reserved {
  margin-top: 10px;
  background: none;
  padding: 10px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 5px;
  color: #999;
  cursor: pointer;
}
