/* ! HEADER */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.main-title img {
  width: 70px;
}

.main-title {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
}

.content-align {
  margin: 0 auto;
  padding: 10px 20px;
}

.active {
  text-decoration: underline;
}
